---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Recarga Saldo">
  <main>
    <div class="border border-5 rounded">
      <form action="/User" class="m-5">
        <label class="mt-3" for="nameUser">Ingrese su usuario</label>
        <div>
          <input class="form-control" type="text" name="" id="nameUser" />
        </div>
        <label class="mt-3" for="passwordUser">Ingrese su contraseña</label>
        <div>
          <input class="form-control" type="password" id="passwordUser" />
        </div>
        <div class="d-flex justify-content-center mt-4">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <label for="nameUser">¿Aún no tienes cuenta?</label>
          <button type="button" class="ms-3 btn btn-primary">Sign in</button>
        </div>
      </form>
    </div>
  </main>
</Layout>

