<header style="background-color: #EE860B;">
    <nav
      class="navbar bg-body-tertiary"
      style="background-image: url(http://transcaribe.gov.co/wp-content/uploads/2021/11/header-scaled.jpg); background-size: cover"
    >
      <div class="container-fluid ps-5">
        <div class="mw-10 mh-10">
          <a href="/" data-wahfont="16">
            <img
              src="https://transcaribe.gov.co/wp-content/uploads/2021/11/Logo_Transcaribe_24-1024x712.png"
              class="img-fluid"
              alt=""
              style="max-width: 80px;"
              srcset="https://transcaribe.gov.co/wp-content/uploads/2021/11/Logo_Transcaribe_24-1024x712.png 1024w, https://transcaribe.gov.co/wp-content/uploads/2021/11/Logo_Transcaribe_24-300x209.png 300w, https://transcaribe.gov.co/wp-content/uploads/2021/11/Logo_Transcaribe_24-768x534.png 768w, https://transcaribe.gov.co/wp-content/uploads/2021/11/Logo_Transcaribe_24.png 1247w"
            />
          </a>
        </div>

        <form class="d-flex" role="search">
          <img
            width="168"
            height="55"
            src="https://transcaribe.gov.co/wp-content/uploads/2021/11/GOV.CO_.png"
            class="attachment-large size-large"
            alt=""
          />
          <input
            class="form-control me-3 my-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </form>
      </div>
    </nav>
      <ul class="nav nav-pills nav-fill text-light fw-medium">
        <li class="nav-item"><a class="nav-link text-light" href="#">Transcaribe</a></li>
        <li class="nav-item"><a class="nav-link text-light" href="#">Transparencia</a></li>
        <li class="nav-item"><a class="nav-link text-light" href="#">Crea tu PQRSD</a></li>
        <li class="nav-item"><a class="nav-link text-light" href="#">Galeria</a></li>
        <li class="nav-item"><a class="nav-link text-light" href="#">Noticias</a></li>
        <li class="nav-item"><a class="nav-link text-light" href="#">Avisos</a></li>
        <li class="nav-item"><a class="nav-link text-light" href="#">Consultar Saldo</a></li>
        <li class="nav-item"><a class="nav-link text-light" href="#">Portal del Usuario</a></li>
      </ul>
  </header>

  <style>
  .nav-link {
      transition: background-color 0.3s, color 0.3s;
    }
  
    .nav-link:hover, .nav-link:focus {
      background-color: #FFA726; 
      color: #ffffff;
    }

    @media (max-width: 768px) {
      .nav-link {
      font-size: 12px !important;
      padding: 6px 10px 6px 10px !important;
    }
      
  
    }
  </style>
  