<header style="background-color: #EE860B;">
    <nav
      class="navbar bg-body-tertiary"
      style="background-image: url(http://transcaribe.gov.co/wp-content/uploads/2021/11/header-scaled.jpg); background-size: cover"
    >
      <div class="container-fluid ps-5">
        <div class="mw-10 mh-10">
          <a href="http://transcaribe.gov.co/" data-wahfont="16">
            <img
              src="https://transcaribe.gov.co/wp-content/uploads/2021/11/Logo_Transcaribe_24-1024x712.png"
              class="img-fluid"
              alt=""
              style="max-width: 80px;"
              srcset="https://transcaribe.gov.co/wp-content/uploads/2021/11/Logo_Transcaribe_24-1024x712.png 1024w, https://transcaribe.gov.co/wp-content/uploads/2021/11/Logo_Transcaribe_24-300x209.png 300w, https://transcaribe.gov.co/wp-content/uploads/2021/11/Logo_Transcaribe_24-768x534.png 768w, https://transcaribe.gov.co/wp-content/uploads/2021/11/Logo_Transcaribe_24.png 1247w"
            />
          </a>
        </div>

        <form class="d-flex" role="search">
          <img
            width="168"
            height="55"
            src="https://transcaribe.gov.co/wp-content/uploads/2021/11/GOV.CO_.png"
            class="attachment-large size-large"
            alt=""
          />
          <input
            class="form-control me-3 my-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2" type="submit"
            >Search</button
          >
        </form>
      </div>
    </nav>
    <div class="container">
      <ul class="nav nav-pills nav-fill text-light fw-medium">
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="page" href="#"
            >Transparencia</a
          >
        </li>
        <li class="nav-item p-active">
          <a class="nav-link text-light" href="#">Crea tu PQRSD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Galeria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Avisos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Consultar Saldo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Portal del Usuario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Recargar Saldo</a>
        </li>
      </ul>
    </div>
  </header>