---
interface Props {
  type: string;
  amount: string;
  date: string;
}

const { type, amount, date } = Astro.props;
---

<div class:list={["border-bottom border-5 d-flex px-3", type]}>
  <div class="d-block">
    <h4 class:list={["fw-bold"]}>{type}</h4>
    <span>{date}</span>
  </div>
  <h2 class="flex-grow-1 ps-5">$ {amount}</h2>
</div>



<style>
  .Recarga {
    background-color: rgba(53, 182, 53, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    border-radius: 16px;
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgb(56, 217, 96);
  }
  .Viaje {
    background-color: rgba(227, 27, 27, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    border-radius: 16px;
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgb(217, 56, 56);
  }
</style>
